<h3>People</h3>

<LinkTo @route="people.new">Create person</LinkTo>

{{#if this.isLoading}}
  <p>Loading...</p>
{{else}}
<table>
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
{{#each this.people as |person|}}
  <tr>
    <td>
      <LinkTo @route="people.person" @model={{person.id}}>
        {{person.id}}
      </LinkTo>
    </td>
    <td>
      <LinkTo @route="people.person" @model={{person.id}}>
        {{person.firstName}}
      </LinkTo>
    </td>
    <td>
      <LinkTo @route="people.person" @model={{person.id}}>
        {{person.lastName}}
      </LinkTo>
    </td>
    <td>
      <LinkTo @route="people.person.edit" @tagName="button" @model={{person.id}}>Edit</LinkTo>
    </td>
    <td>
      <button type="button" {{on "click" (fn this.delete person)}}>Delete</button>
    </td>
  </tr>
{{/each}}
</table>
{{/if}}